

<div class="card" *ngIf="sendarr.length > 0 else nostd">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr.no</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of sendarr; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #nostd>
    <p class="alert alert-info">
        No Student is added !!!
    </p>
</ng-template>
