<!-- <div class="container">
    <div class="row">

        <h1 class="bg-primary text-center text-white">Std-Table-task</h1>
        <div class="col-md-10 offset-md-1">
            <app-stdform
            (emitter)="ongetstd($event)"></app-stdform>

        </div>
        <div class="col-md-8 offset-md-2">
            <app-stdtable
            [sendarr]="stdarr"></app-stdtable>
        </div>
    </div>
</div> -->



<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <app-passengerdashboard></app-passengerdashboard>
        </div>
    </div>
</div>





