
    <div class="card my-4">
        <div class="card-body">
            <form #stdform="ngForm" (ngSubmit)="onAddstd(stdform)">
                <div class="form-group">
                    <label for="fname"><strong>First Name</strong></label>
                    <input type="text" #fname="ngModel" name="fname" ngModel class="form-control" id="fname">
                </div>
                <div class="form-group">
                    <label for="lname"><strong>Last Name</strong></label>
                    <input type="text" #lname="ngModel" name="lname" ngModel class="form-control" id="lname">
                </div>
                <div class="form-group">
                    <label for="email"><strong>Email</strong></label>
                    <input type="text" #email="ngModel" name="email" ngModel class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="contact"><strong>Contact</strong></label>
                    <input type="text" #contact="ngModel" name="contact" ngModel class="form-control" id="contact">
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-success" type="submit"><strong>Add student</strong></button>
                </div>
            </form>
        </div>
    </div>

